.Calculator-box{
    text-align: center;
    margin-top: 5%;
}
.calculator-table{
    margin: auto;
    height: 50vh;
}
input{
    background-color: rgba(255, 255, 255, 0.63);
    padding: 2%;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 34px;
    border: 2px solid rgb(29, 8, 107);
}
button{
    font-size: 40px;
    background-color:black;
    color: whitesmoke;
    width: 102px;
    height: 58px;
    border-radius: 14px;
}
.total{
    background-color: red;
}
.calculator{
    border: 5px solid black;
    display: inline-block;
    border-radius: 53px;
    padding: 23px;
    background-color:black;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.63);
    /* color: brown; */
}
